asgiref==3.7.2  # https://github.com/django/asgiref/
Django==5.0  # https://www.djangoproject.com/
django-environ==0.11.2  # https://github.com/joke2k/django-environ
sqlparse==0.4.4
{%- if cookiecutter.use_django_bootstrap5 == 'y' %}
django-bootstrap5==23.3  # https://github.com/zostera/django-bootstrap5
{%- endif %}

{%- if cookiecutter.use_postgres == 'y' %}
psycopg[c]==3.1.16  # https://github.com/psycopg/psycopg
{%- endif %}

# Django
# ------------------------------------------------------------------------------
{%- if cookiecutter.use_django_extensions == 'y' %}
Werkzeug[watchdog]==3.0.1 # https://github.com/pallets/werkzeug
django-extensions==3.2.3  # https://github.com/django-extensions/django-extensions
{%- endif %}

